beautifulsoup4==4.13.3
certifi==2025.1.31
h11==0.14.0
idna==3.10
soupsieve==2.6
typing_extensions==4.13.1
urllib3==2.3.0
requests
sqlalchemy
newspaper3k
lxml_html_clean
psycopg2-binary
python-dotenv
flask
dotenv
praw
flask_cors
pydantic
python-dateutil
httpx
gunicorn